*,
::before,
::after {
  margin: 0;
  padding: 0;
}

body {
  background: #4b0d0d;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.parent-canvas {
  margin: 50px 0;
  position: relative;
}

canvas {
  background: #d0c5c7;
}

.arrow-div {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 40%;
}

.arrow-div .arrow {
  width: 20%;
  aspect-ratio: 1/1;
  -webkit-box-shadow: 2px 2px 2px black;
          box-shadow: 2px 2px 2px black;
  cursor: pointer;
  opacity: 0.25;
  background: -webkit-gradient(linear, left top, right top, from(#c2c2c2), to(#3309dc)) no-repeat;
  background: linear-gradient(90deg, #c2c2c2, #3309dc) no-repeat;
}

.arrow-div .arrow:hover {
  opacity: 0.8;
}

.arrow-div .arrow i {
  font-size: 2rem;
  font-weight: bold;
  display: block;
  color: black;
}

@media screen and (max-width: 758px) {
  .arrow-div .arrow i {
    font-size: 1.2rem;
  }
}

.arrow-div .arrow-horizontal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 20% 0;
}

.arrow-div .arrow-up,
.arrow-div .arrow-down {
  margin: 0 0 0 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  border-radius: 5%;
  color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.arrow-div .arrow-left {
  border-radius: 2%;
  color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.arrow-div .arrow-right {
  border-radius: 2%;
  color: #a60e0e;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#modal-game-over {
  position: absolute;
  border-radius: 10px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  width: 90%;
  height: 90%;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #171717;
  color: #f1f1f1;
}

#modal-game-over #game-over-title {
  display: none;
  margin: 2% 0 0 0;
}

#modal-game-over .btn-restart {
  color: #1e1e1e;
  font-weight: bold;
  margin: 10% 0;
  padding: 3% 6%;
  cursor: pointer;
  background: linear-gradient(110deg, black 15%, #14d827 100%);
  border: none;
  border-radius: 10px;
  -webkit-box-shadow: 5px 5px 15px 5px #000000;
  box-shadow: 5px 5px 10px 5px #000000;
}

#modal-game-over .btn-restart:hover {
  -webkit-animation: animeBtnTransit 0.4s ease-in-out forwards;
          animation: animeBtnTransit 0.4s ease-in-out forwards;
  /* Applique l'animation au bouton */
  background-color: red;
}

#modal-game-over #div-scores {
  width: 60%;
}

#modal-game-over #div-scores ul#list-scores {
  list-style-type: none;
}

#modal-game-over #div-scores h2 {
  text-align: center;
}

#modal-game-over #div-scores #game-over-h3 {
  text-align: center;
}

#modal-game-over #div-scores form#form-score {
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: red;
  width: 50%;
}

#modal-game-over #div-scores form#form-score div {
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#modal-game-over #div-scores form#form-score div label {
  width: 90%;
}

#modal-game-over #div-scores form#form-score div input {
  width: 90%;
  margin-bottom: 5%;
}

@media screen and (min-width: 750px) and (max-width: 1050px) {
  #modal-game-over h2 {
    font-size: 20px;
  }
  #modal-game-over #game-over-h3 {
    font-size: 16px;
    text-align: center;
  }
}

@media screen and (max-width: 750px) {
  #modal-game-over {
    width: 104%;
    height: 104%;
  }
  #modal-game-over h2 {
    font-size: 18px;
  }
  #modal-game-over #game-over-h3 {
    font-size: 14px;
    text-align: center;
  }
  #modal-game-over .btn-restart {
    margin: 3% 0;
  }
  #modal-game-over #div-scores {
    background: blue;
    width: 60%;
  }
  #modal-game-over #div-scores ul#list-scores {
    background: pink;
    padding: 0 1%;
  }
  #modal-game-over #div-scores ul#list-scores li {
    font-size: 12px;
  }
}

@-webkit-keyframes animeBtnTransit {
  100% {
    color: #fcfcfc;
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
}

@keyframes animeBtnTransit {
  100% {
    color: #fcfcfc;
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
}
/*# sourceMappingURL=snake.css.map */