*,
::before,
::after {
  margin: 0;
  padding: 0;
}

body {
  background: #4b0d0d;
  display: flex;
  justify-content: center;
}

.parent-canvas {
  margin: 50px 0;
  position: relative;
}

canvas {
  background: rgb(208, 197, 199);
}

.arrow-div {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 40%;
  .arrow {
    width: 20%;
    aspect-ratio: 1/1;
    box-shadow: 2px 2px 2px black;
    cursor: pointer;
    opacity: 0.25;
    background: linear-gradient(90deg, rgb(194, 194, 194), rgb(51, 9, 220))
      no-repeat;
    &:hover {
      opacity: 0.8;
    }
    i {
      font-size: 2rem;
      font-weight: bold;
      display: block;
      color: black;
      @media screen and (max-width: 758px) {
        font-size: 1.2rem;
      }
    }
  }
  .arrow-horizontal {
    display: flex;
    justify-content: space-between;
    margin: 20% 0;
  }

  .arrow-up,
  .arrow-down {
    margin: 0 0 0 50%;
    transform: translateX(-50%);
    border-radius: 5%;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .arrow-left {
    border-radius: 2%;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .arrow-right {
    border-radius: 2%;
    color: rgb(166, 14, 14);
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

#modal-game-over {
  position: absolute;
  border-radius: 10px;
  transition: 0.5s;
  width: 90%;
  height: 90%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  background: rgb(23, 23, 23);
  color: #f1f1f1;
  #game-over-title {
    display: none;
    margin: 2% 0 0 0;
  }
  .btn-restart {
    color: #1e1e1e;
    font-weight: bold;
    margin: 10% 0;
    padding: 3% 6%;
    cursor: pointer;
    background: linear-gradient(
      110deg,
      rgba(0, 0, 0, 1) 15%,
      rgba(20, 216, 39, 1) 100%
    );
    border: none;
    border-radius: 10px;
    -webkit-box-shadow: 5px 5px 15px 5px #000000;
    box-shadow: 5px 5px 10px 5px #000000;
    //shift right, shift down, blur, spread
    //décalage vers la droite, décalage vers le bas(mettre des valeurs négatifs pour aller vers la gauche ou en haut
    //
    &:hover {
      // animation: name duration timing-function delay iteration-count direction fill-mode;
      animation: animeBtnTransit 0.4s ease-in-out forwards; /* Applique l'animation au bouton */
    }
  }
  #div-scores {
    width: 60%;
    ul#list-scores {
      list-style-type: none;
      li {
      }
    }
    h2 {
      text-align: center;
    }
    #game-over-h3 {
      text-align: center;
    }

    form#form-score {
      // display: none;
      margin: auto;
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 50%;
      display: none;
      padding: 5px;
      div {
        width: 90%;
        display: flex;
        flex-direction: column;
        align-items: center;
        label {
          width: 90%;
          margin: 5px 0;
          font-weight: bold;
        }
        input {
          padding: 2px;
          width: 90%;
          margin-bottom: 5%;
        }
      }
    }
  }

  //tablets
  @media screen and (min-width: 750px) and (max-width: 1050px) {
    h2 {
      font-size: 20px;
    }
    #game-over-h3 {
      font-size: 16px;
      text-align: center;
    }
  }
  //mobiles

  @media screen and (max-width: 750px) {
    width: 104%;
    height: 104%;
    h2 {
      font-size: 18px;
    }
    #game-over-h3 {
      font-size: 14px;
      text-align: center;
    }

    .btn-restart {
      margin: 3% 0;
    }
    #div-scores {
      width: 80%;
      ul#list-scores {
        display: block;
        padding: 0 1%;
        li {
          font-size: 12px;
        }
      }
    }
    #form-score {
      width: 80%;
      label {
      }
    }
  }
}

@keyframes animeBtnTransit {
  100% {
    color: rgb(252, 252, 252);
    transform: scale(1.1);
  }
}
