*,
::before,
::after {
  margin: 0;
  padding: 0;
}

body {

  background: #4b0d0d;
  display: flex;
  justify-content: center;
}

.parent-canvas {
  margin: 50px 0;
  position: relative;
}

canvas {
  background: rgb(208, 197, 199);
}

.arrow-div {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 40%;
  .arrow {
    width: 20%;
    aspect-ratio: 1/1;
    box-shadow: 2px 2px 2px black;
    cursor: pointer;
    opacity: 0.25;
    background:linear-gradient(90deg, rgb(194, 194, 194), rgb(51, 9, 220)) no-repeat;
    &:hover {
      opacity: 0.8;
    }
    i {
        font-size: 2rem;
        font-weight: bold;
        display: block;
        color: black;
        @media screen and (max-width: 758px) {
            font-size: 1.2rem;
        }
    }
  }
  .arrow-horizontal {
    // width: 200px;
    display: flex;
    justify-content: space-between;
    margin: 20% 0;
  }

  .arrow-up,
  .arrow-down {
    margin: 0 0 0 50%;
    transform: translateX(-50%);
    border-radius: 5%;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .arrow-left {
    border-radius: 2%;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .arrow-right {
    border-radius: 2%;
    color: rgb(166, 14, 14);
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@media screen and (max-width: 780px) {

}

